@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    background: linear-gradient(to right, #94525c, #14aad7);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
}

.error-message-block {
    display: inline-block;
    background-image: url("img/error-cat1.jpg");
    width: 35%;
    text-align: start;
    height: 50vh;
    background-size: cover;
    margin: auto;
    border-radius: 16%;
    box-shadow: 0 0 10px #d0d0d0;
    background-repeat: no-repeat;
    transition: all 1.3s;
}

.error-message-block:hover {
    transition: all 1.3s;
    background-image: url("img/error-cat2.jpg");
}

.message {
    color: mediumpurple;
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 50px;
}

.redirect {
    color: mediumpurple;
    position: absolute;
    left: 5%;
    top: 7%;
    font-size: 50px;
}

.link {
    text-decoration: none;
    color: rebeccapurple;
    margin-left: 20%;
}

.link:hover {
    color: #5462c3;
}