@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;

    width: 100%;
    height: 100vh;

    background: linear-gradient(4deg, #5462c3, #ba872c);
    background-size: cover;
}

.error-message-block {
    display: inline-block;

    width: 35%;
    height: 40vh;
    margin: auto;

    text-align: start;

    background-image: url("img/error-pic.jpg");
    background-size: cover;
    border-radius: 16%;
    box-shadow: 5px 7px 5px 7px #373540;
    background-repeat: no-repeat;
}

.message {
    display: flex;

    margin-top: 40%;
    margin-left: 10%;

    font-size: 50px;
}

.redirect {
    position: absolute;
    left: 5%;
    top: 7%;

    font-size: 50px;
}

.link {
    margin-left: 20%;

    text-decoration: none;
    color: teal;
}

.link:hover {
    color: #5462c3;
}
