@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

header {
    display: block;
    background: #211e2b;
    text-align: center;
    padding-bottom: 1%;
    color: #c7b4ad;
}

.list {
    background: #7e7b8a;
    color: #211e2b;
    padding-bottom: 3%;
}

.navigate {
    width: 60%;
    margin: 0 auto;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
}

.navigate h2 {
    text-align: center;
    color: black;
}

.navigate ul {
    width: 40%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: #373540;
}

.info {
    text-align: center;
    margin: 3% auto;
    width: 60%;
    border-width: 3px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to bottom,
                    red,
                    rgba(0, 0, 0, 0)
            ) 1 100%;
}

.info h3 {
    color: black;
}

img {
    max-width: 500px;
    overflow: hidden;
}

.list img {
    border: 10px solid;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 76% 24% 22% 78% / 76% 24% 76% 24%;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.second_block {
    background: #211e2b;
    color: #c7b4ad;
    padding: 12%;
}

.general {
    width: 35%;
    margin-left: 5%;
    text-align: center;
}

.hinata {
    position: absolute;
    right: 0;
    top: 122%;
}

#chuchut {
    color: white;
}

.hinata p {
    padding: 2%;
    text-align: center;
    width: 80%;
}

.hinata img {
    display: block;
    position: relative;
    margin-left: 9%;
    background-color: rgba(250,184,66, 0.8);
}

.doings {
    background: #373540;
    text-align: center;
    padding: 2%;
    color: #f3f0ee;
}

.doings p {
    padding: 2% 0;
    width: 20%;
    margin: 0 auto;
}

.doings u {
    color: white;
}

.doings img {
    padding-top: 15%;
}

.memes_table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    background: #211e2b;
    color: white;
    text-align: center;
}

th {
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
    width: 70%;
    text-align: center;
}

td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

#memes {
    background: #25313a;
    color: white;
    text-align: center;
}

.quote {
    background: #aba999;
    padding: 2% 0;
    text-align: center;
}

.quote p {
    width: 30%;
    margin: 0 auto;
    text-align: end;
}

footer {
    padding: 0.5% 0;
    display: flex;
    background: black;
    justify-content: space-evenly;
}

footer a:hover {
    color: white;
}
