.information {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: white;
}

.information__title {
    margin-top: 15px;
}

.information__item {
    display: block;

    width: 350px;
}

.information__img {
    display: block;

    width: 50%;
    max-width: 500px;
    margin: auto;

    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 76% 24% 22% 78% / 76% 24% 76% 24%;
    overflow: hidden;
    opacity: 40%;
    transition: all 1s;
}

.information__img:hover {
    opacity: 80%;
    transition: all 1s;
}

.information__item_large {
    margin-top: 50px;
    font-size: 30px;
}

.information__title_large {
    font-size: 40px;
    margin-top: 30px;
}
