
 .choose {
     font-family: Oswald, sans-serif;
    display: inline-block;
 }

 .choose p {
     display: inline-block;
 }

 span {
     padding: 4px 6px;
     text-align: center;
     margin: 0 1.5px;
     background: #ffdfc4;
 }