
.footer {
    display: flex;
    justify-content: space-evenly;

    height: 30px;
    padding: 0.5% 0;

    background: black;
}

.footer__link {
    transition: all 0.3s;
}

.footer__link:hover {
    color: white;

    border-bottom: 1px solid white;
    transition: all 0.3s;
}
