
.container {
    display: inline-block;
    width: 40%;
    height: 50.2vh;
    margin-left: 400px;
    border-bottom: 5px solid brown;
}

.container img {
    padding-left: 2%;
    display: inline-block;
}

.container p {
    margin: 0 0 0 30px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    width: 40%;
    height: 100%;
    vertical-align: middle;
}