@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main-container {
    font-family: 'Oswald', sans-serif;
}

.list {
    padding-bottom: 3%;

    background: white;
    color: #211e2b;
}

.link {
    text-decoration: none;
    font-weight: normal;
    color: #373540;

    transition: all 0.2s;
}

.link_black {
    text-decoration: none;
    font-weight: normal;
    color: black;

    transition: all 0.2s;
}

.background-card {
    background-image:
            radial-gradient(circle at 0% 0%,
            #ffbf00 0, #ffb000 12.5%, #ff9f09 25%,
            #fe8d17 37.5%, #f37b1f 50%, #e66924 62.5%,
            #da5929 75%, #cf4b2d 87.5%, #c43e31 100%);
    box-shadow: 1px 4px 2px 3px dimgrey;
    border-radius: 50px;
    width: 95%;
    margin: auto;
}

.quote-block {
    height: 100px;
    padding: 20px;
}
