
.button-block_default {
    position: absolute;
    top: 20px;
    right: 80px;

    display: block;

    width: 100px;
    height: 40px;

    color: white;
    text-align: center;
    line-height: 35px;

    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    border-radius: 0 15px 0 15px;
    transition: all 0.9s;
}

.button-block_default:hover {
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
    border-radius: 15px 0 15px 0;
    transition: all 0.9s;
}
.button-block_reverse {
    position: absolute;
    top: 20px;
    left: 80px;

    display: block;

    width: 100px;
    height: 40px;

    color: white;
    text-align: center;
    line-height: 35px;

    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
    border-radius: 15px 0 15px 0;
    transition: all 0.9s;
}

.button-block_reverse:hover {
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    border-radius: 0 15px 0 15px;
    transition: all 0.9s;
}