
.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    width: 85%;
    margin: 0 auto;

    box-shadow: 0 2px 0 #373540;
}

.navigation__list {
    display: flex;
    flex-flow: row nowrap;
}

.navigation__item {
    padding: 10px;

    list-style-type: none;
    text-decoration: none;
    font-size: 115%;
}

.navigation__link:hover {
    color: darkgray;

    transition: all 0.2s;
}
